body {
      background-color: #faf2e4;
      margin: 0 10%;
      font-family: sans-serif;
}
    
h1 {
      text-align: center;
      font-family: sans-serif;
      font-weight: normal;
      color: #000000;
    border-bottom: 1px solid #57b1dc;
}
    
h2 {
      color: #ff7f6e;
      font-size: 20px;
}

nav {
    text-align: center;
    margin-bottom: 50px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    padding-left: 10px;
    padding-right: 10px;
}

nav a {
    text-decoration: none;
    color: #ff7f6e;
    font-size: 18px;
}

nav a:hover {
    color: black;
    text-decoration: underline;
}

footer {
    border-top: 1px solid #57b1dc;
    text-align: center;
    padding-top: 1em;
}

footer img {
    width: 40px;
    height: 40px;
    margin-left: .5em;
    margin-right: .5em;
} 

dt {
    font-size: 18px;
    margin-bottom: 10px;
}

dd {
    margin-bottom: 10px;
}

.pizzabutton {
    border: 3px solid #57b1dc;
    border-radius: 10px;
    background-color: #ff7f6e;
    color: white;
    height: 40px;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 40px;
}

