@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;500;700&family=Kanit:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

h1 {
    font: bold 50px 'Catamaran', sans-serif;
}

h2 {
    font: 30px 'Kanit', sans-serif;
}

.center {
    text-align: center;
}

.container {
    width: 1000px;
    margin: auto;
}

h4, h3 {
    margin-bottom: 5px;
    margin-top: 0;
    font-family: sans-serif
}

p {
    margin: 5 0 20;
    font-family: sans-serif;
}

li {
    font-family: monospace;
}

h4 {
    color: darkred;
}

img {
    border: 2px solid black;
    margin: 0 20px;
}

.dashed {
    border-bottom: 2px dashed black;
    margin-bottom: 20px;
}
 
.gallery {
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

a:hover {
    color: darkred;
}

a {
    color: black;
    font-size: 18px;
}

.gallery a:hover {
    border-bottom: 3px solid black;
}